* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

/* Styles the search form */
form {
    width: 100%;
}

label {
    /* color:white; */
    display:inline;
    font-size: 5vw;
}

#cityName {
    max-width:200px;
    display: inline;
    margin: 0;
}

.searchBtn {
    width: 90%;
    /* border: white solid 3px;
    color:white; */
    height: 40px;
    margin: 5px auto;
}
/* End of styling the search form */

#currentWeather {
    height: auto;
}

ul {
    margin: 5px;
    border: gainsboro 2px solid;
}